<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精炼宝典</title>
</head>
<body>
    <div id='jinglian'>
        <p>欢迎使用完美世界精炼推荐系统</p>
        <br>
        <div >
            <p>当前配置信息</p>
            <p>
                请输入当前游戏单价：    <input type="text" v-model="config.gameCoinPerYuan"></input> 游戏币/元
            </p>
            <p>
                请输入当前幻仙单价：    <input type="text" v-model="config.price.huanXian"></input> 游戏币
            </p>
            <p>
                请输入当前天罡石单价：  <input type="text" v-model="config.price.tianGang"></input> 游戏币
            </p>
            <p>
                请输入当前地煞石单价1：  <input type="text" v-model="config.price.diSha"></input> 游戏币
            </p>
        </div>
        <br>
        <div>
            <p>当前市场下精炼秘籍 <button @click="config.hiddenDetail = !config.hiddenDetail">详细信息</button></p>
            <div>
                <ul>
                    <li v-for="item in suggestions" :key="item.level">
                        <p>
                            精炼：{{item.level}}上<strong style="color: red;">{{item.level+1}}</strong>，
                            用：{{item.name}}，
                            成本：<strong style="color: red;">{{round(item.cost/config.gameCoinPerYuan)}}</strong>元，
                            概率：{{item.rate}},
                           <div v-show="!config.hiddenDetail">
                            消耗：{{round(item.cost)}}游戏币，
                            消耗幻仙：{{round(item.huanXian)}}，
                            天罡：{{round(item.tianGang)}}，
                            地煞：{{round(item.diSha)}}
                           </div>
                        </p>
                    </li >
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>